img.desaturate {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2);
}

img.inner-shadow {
   position: relative; 
  -webkit-box-shadow: inset 0 0 10px 10px #000;    
    -moz-box-shadow: inset 0 0 10px 10px #000;
    box-shadow: inset 0 0 10px 10px #000;
	z-index: 0;
}

img.inner-shadow::after {
	    	box-shadow: inset 0 0 10px 10px #000;
	    	bottom: 0;
	    	content: "";
	    	display: block;
	    	left: 0;
	    	height: 100%;
	    	position: absolute;
	    	right: 0;
	    	top: 0;
	    	width: 100%;
		-webkit-box-shadow: inset 0 0 10px 10px #000;    
	    	-moz-box-shadow: inset 0 0 10px 10px #000;
	    	box-shadow: inset 0 0 10px 10px #000;
}
